<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="icon" href="http://getbootstrap.com/favicon.ico">
  <title>Blogz On Fire</title>
  <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
  <link href="justified-nav.css" rel="stylesheet">
</head>
<body ng-controller="RegisterCtrl">
 
<div class="container">
  
  <div class="jumbotron" style="padding-bottom:0px;">
    <h2>Blogz On Fire | Register</h2>
  </div>
  <form class="form-signin" role="form" name="regForm">
    <div class="form-group">
      <label>Email</label>
      <input type="email" name="email" class="form-control" placeholder="Email address" ng-model="user.email" autofocus>
      <p ng-show="regForm.email.$invalid">Enter a valid email.</p>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : regForm.email.$invalid }">
      <label>Password</label>
      <input type="password" name="password" class="form-control" placeholder="Password" ng-model="user.password" ng-minlength="8">
      <p ng-show="regForm.password.$error.minlength">Minimum length 8 characters.</p>
    </div>
    <button type="button" class="btn btn-lg btn-primary btn-block">Register</button>
  <label class="checkbox">
    <a href="#/home"> Sign In</a>
  </label>
  </form>

</div>
 
</body>
</html>